{% extends "base.html" %}

{% block content %}
<h2>比赛</h2>
<table id = 'table' width = '700' border="1" align="center">
    <thead>
    <tr>
        <th align="center">名称</th>
        <th align="center">项目</th>
<!--        <th align="center">轮次</th>-->
        <th align="center">开始时间</th>
        <th align="center">结束时间</th>
        <th align="center">状态</th>
        <th align="center">操作</th>
        <th align="center">排行</th>
    </tr>
    </thead>
    <tbody>

    {%  for comp in competitions %}
    <tr>

        <td align="center">{{ comp.name}}</td>
        <td align="center">{{ comp.cube_event}}</td>
        <td align="center">{{ comp.start_time}}</td>
        <td align="center">{{ comp.end_time}}</td>
        <td align="center">{{ comp.state_text}}</td>
        {% if comp.btn_text %}
            <td align="center"><button id = '{{ comp.btn_id }}' onclick = 'dianji(this.id)' >{{ comp.btn_text }}</button></td>
        {% else %}
            <td></td>
        {% endif %}
        {% if comp.btn_text2 %}
            <td align="center"><button id = '{{ comp.btn_id2 }}' onclick = 'dianji(this.id)' >{{ comp.btn_text2 }}</button></td>
        {% else %}
            <td></td>
        {% endif %}


    </tr>
    {% endfor %}
    </tbody>


</table>

    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    function post(URL, PARAMS) {  // 这个函数是我抄来的，我也不懂原理
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            // alert(opt.name)
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
    function dianji(id){
        var now = document.getElementById(id).parentNode;
        var line = now.parentNode.rowIndex;
        var cells = document.getElementById('table').rows[line].cells;
        //document.getElementById(id).innerText = cells[1].innerHTML;
        var name = cells[0].innerHTML;
        var event = cells[1].innerHTML;
        // var turn = cells[].innerHTML;
        if(document.getElementById(id).innerText == '取消报名'){
            con=confirm("是否取消报名？"+name+' '+event);
                if (!con)return;
            post('/competition_cancel/',{name:name,event:event});
        }
        else if(document.getElementById(id).innerText == '参加比赛'){
            con=confirm("是否参加比赛？"+name+' '+event);
                if (!con)return;
            post('/event/',{name:name,event:event});
        }
        else if(document.getElementById(id).innerText == '报名'){
            con=confirm("是否报名此项目？"+name+' '+event);
                if (!con)return;
            post('/competition_register/',{name:name,event:event});
        }
        else if(document.getElementById(id).innerText == '查看排行'){
            post('/competition_ranking/',{name:name,event:event});
        }
    }
    </script>
{% endblock %}