{% extends "base.html" %}

{% block style %}
<style>
    .info-table{
        border: 3px solid rgb(100, 230, 230);
        font-family: "arial";
        font-size: 20pt;
        text-align: center;
        margin-bottom: 20px;
    }
    .score-table{
        border: 3px solid rgb(100, 230, 230);
        font-family: "arial";
        font-size: 20pt;
        text-align: center;
        margin-bottom: 20px;
    }
    .rank-table{
        border: 2px solid rgb(100, 230, 230);
        font-family: "arial";
        font-size: 14pt;
        text-align: center;
    }
    .table-title{
        background-color: rgb(0, 100, 240);
    }
    tbody tr:nth-child(even){
        background-color: rgb(200, 240, 255);
    }
    tbody tr:nth-child(odd){
        background-color: rgb(230, 255, 255);
    }
    .start-btn{
        display: table-cell;
        vertical-align: middle;
        width: 80px;
        height: 28px;
        border: 2px outset grey;
        border-radius: 5px;
        background-color: rgb(230, 100, 0);
        font-size: 16px;
        font-weight: bold;
    }
    .select_menu{
        width:200px;
        height:30px;
        border:0;
        appearance:none;
        -moz-appearance:none;
        background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
        text-align: center;
        text-align-last:center;
        font-size:16pt;
        font-family:"arial";
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div id="event-info" style="float: left;">
    <div>
        {% if competition_name == ' ' %}
            <p>目前没有比赛，请报名或等待！</p>
        {% endif %}
        <table class="info-table">
            <tr>
                <th width="100">比赛</th> <th style="padding: 0px 40px;">{{competition_name}}</th>

            </tr>
            <tr>
                <th>项目</th>
                <th>
                    <select id = 'select' class = 'select_menu' onchange="change(this.value)">
                        {% for event in event_name %}
                            {% if selected == event %}
                                <option selected = "selected" value = {{ event }}>{{ event }}</option>
                            {% else %}
                                <option value = {{ event }}>{{ event }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </th>
            </tr>
            <tr>
                <th>轮次</th> <th>{{round}}</th>
            </tr>
        </table>
    </div>
    <div>
        <table class="score-table">
            <thead class="table-title">
            <tr>
                <th width="100">序号</th>
                <th style="padding: 0px 50px;">成绩</th>
            </tr>
            </thead>
            <tbody>
            {% for num,score in scores %}
                <tr>
                    <th>{{num}}</th>
                    {% if score %}
                    <th>{{score}}</th>
                    {% else %}
                    <th><form action="start/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="competition_name" value="{{competition_name}}">
                        <input type="hidden" name="event" value="{{selected}}">
                        <input type="hidden" name="round" value="{{round}}">
                        <input type="hidden" name="num" value="{{num}}">
                        <input class="start-btn" type="submit" value="开始">
                    </form></th>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="rank-info" style="float: right; font-size: 16pt">
    <table class="rank-table">
        <thead class="table-title">
        <tr>
            <th style="padding: 0px 20px;">项目</th>
            <th style="padding: 0px 40px;">单次</th>
            <th style="padding: 0px 10px;">排名</th>
            <th style="padding: 0px 40px;">平均</th>
            <th style="padding: 0px 10px;">排名</th>
        </tr>
        </thead>
        <tbody>
        {% for event in all_events %}
        <tr>
            <th>{{event.name}}</th>
            <td>{{event.single}}</td>
            <td>{{event.sin_rank}}</td>
            <td>{{event.average}}</td>
            <td>{{event.avg_rank}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        function post(URL, PARAMS) {  // 这个函数是我抄来的，我也不懂原理
            var temp = document.createElement("form");
            temp.action = URL;
            temp.method = "post";
            temp.style.display = "none";
            for (var x in PARAMS) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = PARAMS[x];
                // alert(opt.name)
                temp.appendChild(opt);
            }
            document.body.appendChild(temp);
            temp.submit();
            return temp;
        }
        function change (a) {
            post('/event/',{a:a});
        }

    </script>
</div>
{% endblock %}


